[package]
name = "star-randsrv"
version = "0.2.0"
authors = ["Ralph Giles <rgiles@brave.com>"]
description = "STAR randomness webservice"
license = "MPL-2.0"
edition = "2021"

[dependencies]
axum = "0.6.18"
base64 = "0.21.0"
clap = { version = "4.2.7", features = ["derive"] }
curve25519-dalek = "3.2.0"
ppoprf = { git = "https://github.com/brave/sta-rs", rev = "1937393e9d76c5333af47dd2ae2778b7e63fafd4" }
serde = "1.0.162"
serde_json = "1.0.96"
thiserror = "1.0.40"
time = { version = "0.3.21", features = ["formatting"] }
tokio = { version = "1.28.0", features = ["full"] }
tower-http = { version = "0.4.0", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }

[dev-dependencies]
hyper = "0.14.26"
rand_core = { version = "0.5.1", features = ["getrandom"] }
tower = "0.4.13"

[profile.release]
lto = "thin"
panic = "abort"
strip = true
codegen-units = 1
