[package]
name = "star-randsrv"
version = "0.2.0"
authors = ["Ralph Giles <rgiles@brave.com>"]
description = "STAR randomness webservice"
edition = "2021"

[dependencies]
axum = "0.6.1"
base64 = "0.21.0"
clap = { version = "4.1.8", features = ["derive"] }
curve25519-dalek = "3.2.0"
ppoprf = { git = "https://github.com/brave/sta-rs", rev = "1937393e9d76c5333af47dd2ae2778b7e63fafd4" }
serde = "1.0.152"
serde_json = "1.0.85"
thiserror = "1.0.38"
tokio = { version = "1.23.0", features = ["full"] }
tower-http = { version = "0.3.5", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }

[dev-dependencies]
hyper = "0.14.24"
tower = "0.4.13"
